.category .row {
--links: #0279b1;
--page-background: #FFFFFF;
--header-links: #FFFFFF;
--titles: #444444;
--section-titles: #FFFFFF;
--highlight: #5DA61B;
--footer-links: #ffffff;
--boxes-border: #d9d9d5;
--boxes-background: #f8f8f8;
--header-background: #0279B1;
--footer-background: #0279b1;
--text: #444444;
--section-titles-background: #0279B1;
-webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
-webkit-font-smoothing: antialiased;
font-feature-settings: normal;
line-height: 1.45 !important;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
color: #212529;
text-align: left;
-webkit-box-direction: normal;
box-sizing: border-box;
clear: both;
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.category .col {
--links: #0279b1;
--page-background: #FFFFFF;
--header-links: #FFFFFF;
--titles: #444444;
--section-titles: #FFFFFF;
--highlight: #5DA61B;
--footer-links: #ffffff;
--boxes-border: #d9d9d5;
--boxes-background: #f8f8f8;
--header-background: #0279B1;
--footer-background: #0279b1;
--text: #444444;
--section-titles-background: #0279B1;
-webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
-webkit-font-smoothing: antialiased;
font-feature-settings: normal;
line-height: 1.45 !important;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
color: #212529;
text-align: left;
-webkit-box-direction: normal;
box-sizing: border-box;
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
flex-basis: 0;
flex-grow: 1;
max-width: 100%;
}

.category .toc {
  --links: #0279b1;
--page-background: #FFFFFF;
--header-links: #FFFFFF;
--titles: #444444;
--section-titles: #FFFFFF;
--highlight: #5DA61B;
--footer-links: #ffffff;
--boxes-border: #d9d9d5;
--boxes-background: #f8f8f8;
--header-background: #0279B1;
--footer-background: #0279b1;
--text: #444444;
--section-titles-background: #0279B1;
-webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
-webkit-font-smoothing: antialiased;
font-feature-settings: normal;
line-height: 1.45 !important;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
color: #212529;
box-sizing: border-box;
background-color: grey;
text-align: center;
margin: 10px;
}

.category .featurenum {
  --links: #0279b1;
--page-background: #FFFFFF;
--header-links: #FFFFFF;
--titles: #444444;
--section-titles: #FFFFFF;
--highlight: #5DA61B;
--footer-links: #ffffff;
--boxes-border: #d9d9d5;
--boxes-background: #f8f8f8;
--header-background: #0279B1;
--footer-background: #0279b1;
--text: #444444;
--section-titles-background: #0279B1;
-webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
-webkit-font-smoothing: antialiased;
line-height: 1.45 !important;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-weight: 400;
color: #212529;
text-align: center;
box-sizing: border-box;
padding: .33rem 0 .33rem 0rem;
font-size: x-large;
font-variant-numeric: tabular-nums;
font-feature-settings: "tnum";
}
